/* Основной стиль для страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  min-height: 100%;
}

h1 {
  color: orange;
  text-align: center;
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.tab-button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #555;
}

.table-container {
  margin-top: 40px;
  width: 80%;
  max-width: 800px;
  overflow-x: auto;
  margin-bottom: 50px; /* Увеличиваем пространство снизу */
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #444;
  color: white;
}

.data-table th, .data-table td {
  padding: 10px;
  border: 1px solid #666;
}

.data-table th {
  background-color: #555;
}

.data-table tr:nth-child(even) {
  background-color: #666;
}

.data-table tr:nth-child(odd) {
  background-color: #555;
}

input[type="number"] {
  width: 100px; /* Уменьшаем ширину поля до 100px, чтобы помещалось максимум 6 цифр */
  padding: 5px;
  background-color: #555;
  color: white;
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  -moz-appearance: textfield; /* Убираем стрелки в Firefox */
  -webkit-appearance: none; /* Убираем стрелки в Chrome */
  margin-left: auto;
  margin-right: 20px; /* Добавляем небольшой отступ справа */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::placeholder {
  color: #888; /* Серый цвет для подсказки */
  font-style: italic;
}

input[type="number"]:focus {
  outline: none;
  border-color: #999; /* Изменение границы при фокусе */
}

/* Для выпадающего списка выбора языка */
.language-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
}

#language-select {
  background-color: black;
  color: orange;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#language-select:hover {
  background-color: #333;
}

/* Стили для кнопок донатов */
.donate-buttons {
  display: flex;
  gap: 10px;
}

.donate-button {
  background-color: #0066cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px; /* Убираем округлость, чтобы кнопка была квадратной */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50px; /* Становится квадратной с размером 50px */
  height: 50px;
}

.donate-button:hover {
  background-color: #333;
}
